<!-- Overall card container -->
<div class="card login-form p-2 mx-auto my-4">

	<!-- Card body container -->
	<div class="card-body">

		<!-- Form container -->
		<form [formGroup]="signInForm" (ngSubmit)="signIn()">

			<!-- Email input container -->
			<div class="form-group row">
				<label for="email" class="col-sm-3 col-form-label">Email:</label>
				<div class="col-sm-9">
					<input id="email" class="form-control" type="email" #emailInput
								 placeholder="Email" formControlName="email"
								 [class.is-valid]="email.touched && email.valid"
								 [class.is-invalid]="email.touched && email.dirty && email.invalid"
								 (keyup)="clearAuthErrors('email')">

					<!-- Error feedback messages -->
					<div *ngIf="email.errors?.email" class="invalid-feedback">
						Please enter a valid email address
					</div>
					<div *ngIf="email.errors?.emailNotFound" class="invalid-feedback">
						Sorry, there is no account for that email address
					</div>
					<!-- End error feedback messages -->

				</div>
			</div>
			<!-- End email input container -->

			<!-- Password input container -->
			<div class="form-group row">
				<label for="password" class="col-sm-3 col-form-label">Password:</label>
				<div class="col-sm-9">
					<input id="password" class="form-control" type="password" #passwordInput
								 placeholder="Password" formControlName="password"
								 [class.is-valid]="password.touched && password.valid"
								 [class.is-invalid]="password.touched && password.dirty && password.invalid"
								 (keyup)="clearAuthErrors('password')">

					<!-- Error feedback messages -->
					<div *ngIf="password.errors?.wrongPassword" class="invalid-feedback">
						Wrong password
					</div>
					<!-- End error feedback messages -->

				</div>
			</div>
			<!-- End password input container -->

			<!-- Action button -->
			<button type="submit" class="btn btn-primary btn-block my-4" #submitButton
							[disabled]="!signInForm.valid">
				Sign In
			</button>
			<!-- End action button -->

			<!-- Link to register page-->
			<div class="text-center">
				Need an account? <a href="" routerLink="/register">Register</a>
			</div>
			<!-- End link to register page-->
			
		</form>
		<!-- End form container -->

	</div>
	<!-- End card body container -->

</div>
<!-- End overall card container -->
