<!-- Container plus subscription to the campaign observable -->
<div *ngIf="(campaign$ | async) as campaign" class="container-fluid">
	
	<h2 class="text-center my-4">{{ campaign.name }}</h2>

	<!-- Action buttons -->
	<div class="d-flex justify-content-center my-4">
		<button type="button" class="btn btn-primary mx-2"
						routerLink="/campaigns" (click)="campaign.updateDB()">
			Save Changes
		</button>
		<button type="button" class="btn btn-outline-primary mx-2" routerLink="/campaigns">
			Cancel
		</button>
	</div>
	<!-- End action buttons -->
	
	<!-- Container for event tables -->
	<div class="row justify-content-around">

		<!-- Container for city event section -->
		<div class="col-10 col-md-5">

			<!-- City event table -->
			<h5 class="text-center">City Events</h5>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="w-25">#</th>
						<th scope="col" class="w-25">Active</th>
						<th scope="col" class="w-25">Seen</th>
						<th scope="col" class="w-25">Completed</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let event of campaign.city">
						<th scope="row">{{ event.number }}</th>
						<td>
							<div class="d-flex justify-content-center">
								<input type="checkbox" class="form-check-input" [(ngModel)]="event.active">
							</div>
						</td>
						<td>
							<div class="d-flex justify-content-center">
								<input type="checkbox" class="form-check-input" [(ngModel)]="event.seen">
							</div>
						</td>
						<td>
							<div class="d-flex justify-content-center">
								<input type="checkbox" class="form-check-input" [(ngModel)]="event.complete">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- End city event table -->

		</div>
		<!-- End container for city event section-->

		<!-- Container for road event section -->
		<div class="col-10 col-md-5">

			<!-- Road event table -->
			<h5 class="text-center">Road Events</h5>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col" class="w-25">#</th>
						<th scope="col" class="w-25">Active</th>
						<th scope="col" class="w-25">Seen</th>
						<th scope="col" class="w-25">Completed</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let event of campaign.road">
						<th scope="row">{{ event.number }}</th>
						<td>
							<div class="d-flex justify-content-center">
								<input type="checkbox" class="form-check-input" [(ngModel)]="event.active">
							</div>
						</td>
						<td>
							<div class="d-flex justify-content-center">
								<input type="checkbox" class="form-check-input" [(ngModel)]="event.seen">
							</div>
						</td>
						<td>
							<div class="d-flex justify-content-center">
								<input type="checkbox" class="form-check-input" [(ngModel)]="event.complete">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- End road event table -->

		</div>
		<!-- End container for road event section-->
	
	</div>
	<!-- End container for event tables -->

</div>
<!-- End container plus subscription to the campaign observable-->
