<p>Campaigns:</p>
<div *ngFor="let campaign of campaigns$ | async">
	<div>{{ campaign.name }}</div>
	<div *ngIf="!campaign.eventSelected; else eventOptions">
		<button type="button" (click)="campaign.selectCityEvent()">City Event</button>
		<button type="button" (click)="campaign.selectRoadEvent()">Road Event</button>
		<button type="button" (click)="editCampaign(campaign)" routerLink="/edit">
			Edit Events
		</button>
	</div>
	<ng-template #eventOptions>
		<div>{{ campaign.eventSelected.type }} Event: {{ campaign.eventSelected.number }}</div>
		<div>
			<button type="button" (click)="completeEvent(campaign, false)">Repeatable</button>
			<button type="button" (click)="completeEvent(campaign, true)">Completed</button>
			<button type="button" (click)="campaign.clearEvent()">Cancel</button>
		</div>
	</ng-template>
	<br>
</div>
<input [(ngModel)]="campaignName">
<br>
<button type="button" (click)="createCampaign()" [disabled]="!campaignName">
	Create New Campaign
</button>
